{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registrar persona</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Ingrese su DNI</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enviar">
        </form>

        {% if persona %}
        <div class="info">
            <h1>Información</h1>
            <p><strong>DNI</strong> {{ persona.dni }}</p>
            <p><strong>Nombre:</strong> {{ persona.nombre }}</p>
            <p><strong>Apellido Paterno:</strong> {{ persona.apePaterno }}</p>
            <p><strong>Apellido Materno:</strong> {{ persona.apeMaterno }}</p>
            <p><strong>Fecha de Registro:</strong> {{ persona.fecRegistro }}</p>
        </div>
        {% endif %}
        {% if mensaje %}
        <div class="error">{{ mensaje }}</div>
        {% endif %}
    </div>
</body>
</html>
